* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  .karaoke-box {
    display: flex;
    justify-content: center;
  }
  .karaoke-box .karaoke-btn {
    width: 120px;
    height: 30px;
    background: blueviolet;
    color: white;
    margin: 20px auto;
    cursor: pointer;
    border: 0;
  }
  .player {
    display: flex;
  }
  
  .play-btn {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .progress-bar {
    width: 100%;
    position: relative;
    height: 15px;
    background: gray;
    margin: 0 20px;
    cursor: pointer;
  }
  
  .progress-bar:hover {
    background: greenyellow;
  }
  .progress-bar > span {
    display: none;
    position: absolute;
    background: black;
    color: white;
    font-size: 12px;
    top: -20px;
    left: 0;
  }
  .progress-bar .progress {
    position: absolute;
    background: red;
    top: 0;
    left: 0;
    bottom: 0;
  }
  
  .progress-bar .progress span {
    position: absolute;
    right: 0;
    top: 50%;
    bottom: 0;
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    background: blueviolet;
    translate: 50% -50%;
  }

  .karaoke.show {
    background: blueviolet;
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;
  }
  .karaoke {
    position: fixed;
    top: 100%;
    height: 0;
    left: 0;
    right: 0;
    transition: 0.2s linear;
    color: white;
    font-size: 2rem;
    font-weight: bold ;
  }
  .karaoke .wrapper {
    width: 50%;
    margin: 0 auto;
  }
  .karaoke .wrapper .header-karaoke {
    display: flex;
    justify-content: space-between;
    padding: 30px;
  }
  .karaoke .wrapper .main-karaoke {
    margin: 100px auto;
    text-align: center;
  }
  
  .karaoke .wrapper .main-karaoke p {
    font-size: 2.2rem;
    position: relative;
    white-space: nowrap;
  }
  .karaoke .wrapper .main-karaoke > p > span {
    position: absolute;
    display: flex;
    inset: 0;
    overflow: hidden;
    color: yellowgreen;
    text-align: left;
  }