@font-face {
  font-family: "Rajdhani";
  src: url(../fonts/Rajdhani-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Rajdhani";
  src: url(../fonts/Rajdhani-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Titillium Web";
  src: url(../fonts/TitilliumWeb-Black.ttf);
}
@import "mixins";
@import "variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  width: 100%;
}
input[type="checkbox"] {
  display: none;
}

.landing {
  width: 100vw;
  height: 100%;
  background-image: url(../images/landing-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Rajdhani";
  font-weight: 700;
  color: #fff;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;

  input[type="radio"] {
    display: none;
  }

  #login:checked ~ .container .company-info .switch .switch-login {
    background: #fff;
    color: black;
  }
  #login:not(:checked) ~ .wapper .login {
    opacity: 0;
    right: 0;
  }
  #register:checked ~ .container .company-info .switch .switch-register {
    background: #fff;
    color: black;
  }
  #register:checked ~ .wapper .register {
    opacity: 1;
    right: 200px;
    z-index: 2;
  }

  .decor-landing {
    position: absolute;
    width: 65%;
    height: 65vw;
    border-radius: 50%;
    background-color: #fff;
    background-image: url(../images/dot-texture.png);
    translate: 100% -15%;
    z-index: 0;
  }

  .container {
    .company-info {
      margin-top: 50px;
      width: 500px;
      margin-left: 250px;
      text-align: center;

      img {
        width: 130px;
        height: 130px;
      }
      h2 {
        font-size: 24px;
        line-height: 24px;
        font-weight: 500;
        text-transform: uppercase;
      }
      h1 {
        font-family: "Titillium Web";
        font-size: 104px;
        line-height: 90px;
        text-transform: uppercase;
        margin-bottom: 50px;
      }
      p {
        max-width: 80%;
        margin: 0 auto;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 100px;
      }
      .switch {
        display: flex;
        width: 360px;
        height: 50px;
        margin: 0 auto;
        font-size: 16px;
        margin-bottom: 100px;

        &-login {
          width: 50%;
          height: 50px;
          border: 1px solid #fff;
          line-height: 50px;
          text-align: center;
          border-radius: 10px 0 0 10px;
          cursor: pointer;
        }
        &-register {
          width: 50%;
          height: 50px;
          border: 1px solid #fff;
          line-height: 50px;
          text-align: center;
          border-radius: 0 10px 10px 0;
          cursor: pointer;
        }
      }
    }
  }
  .wapper {
    width: 50%;
    height: 720px;
    position: relative;
    .login::before {
      content: "";
      position: absolute;
      width: 160px;
      height: 150px;
      top: 0;
      left: 0;
      translate: -50% -50%;
      background-image: url(../images/rocket.png);
    }
    .login {
      position: absolute;
      width: 480px;
      height: 630px;
      background-color: #fff;
      border-radius: 10px;
      color: $textColor3;
      z-index: 2;
      top: 50px;
      right: 200px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      transition: 0.4s linear;

      h2 {
        font-size: 26px;
        margin: 60px 0 80px 0;
      }

      .login {
        &-wrapper {
          width: 355px;
          text-align: center;
          margin: 0 auto;

          .login-form {
            width: 100%;

            .user-box {
              width: 100%;
              position: relative;
              margin: 0 auto;
              margin-bottom: 30px;

              input {
                @include inputSize;

                &:valid,
                &:focus {
                  border: 1px solid $buttonColor1;
                }
                &:valid ~ label {
                  translate: 0 -25px;
                  font-size: 13px;
                }
                &:focus ~ label {
                  translate: 0 -25px;
                  font-size: 13px;
                }
              }
              label {
                position: absolute;
                left: 20px;
                top: 50%;
                transform: translateY(-50%);
                transition: 0.4s ease-in-out;
                background-color: #fff;
                color: $textColor;
                padding: 5px;
              }
            }
            .password-box {
              @extend .user-box;
            }
            .account-setting {
              width: 100%;
              display: flex;
              justify-content: space-between;
              font-size: 14px;
              margin-bottom: 30px;

              a {
                text-decoration: none;
                color: $textColor;
              }
              a:hover {
                color: $textColor2;
              }

              .remember-box {
                display: flex;
                align-items: center;
                position: relative;

                input:checked ~ i {
                  opacity: 1;
                }
                input:checked ~ label::before {
                  background: $textColor2;
                }
                i {
                  font-size: 23px;
                  line-height: 19px;
                  color: $textColor2;
                  opacity: 0;
                  transition: 0.2s linear;
                }
                label {
                  margin-left: 10px;

                  &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 20px;
                    height: 20px;
                    border-radius: 5px;
                    border: 1px solid $textColor;
                    left: 0;
                    top: 50%;
                    translate: 0 -50%;
                  }
                }
              }
            }
            button {
              @include buttonSize;
              background: #4b45fff2;
              cursor: pointer;
              // border-radius: 10px;
              margin-bottom: 30px;
              // font-size: 13px;
              // font-family: "Rajdhani";
            }
            button:hover {
              background: $buttonColor1;
            }
          }
          .social-account {
            p {
              position: relative;
              margin-bottom: 30px;
              font-size: 14px;
            }
            p::before {
              content: "";
              position: absolute;
              width: 60px;
              height: 1px;
              background: rgba(0, 0, 0, 0.1);
              top: 50%;
              left: 0;
            }
            p::after {
              content: "";
              position: absolute;
              width: 60px;
              height: 1px;
              background: rgba(0, 0, 0, 0.1);
              top: 50%;
              right: 0;
            }
            .account-box {
              width: 100%;
              display: flex;
              gap: 10px;
              justify-content: center;

              .box {
                width: 40px;
                height: 40px;
                border-radius: 10px;
                color: #fff;
                line-height: 40px;
                cursor: pointer;
                transition: 0.2s linear;
              }
              .box:hover {
                translate: 0 -5px;
              }
              .box:nth-child(1) {
                background: #3763d2;
              }
              .box:nth-child(2) {
                background: #1abcff;
              }
              .box:nth-child(3) {
                background: #7b5dfa;
              }
              .box:nth-child(4) {
                background: #fd434f;
              }
            }
          }
        }
      }
    }
    .register::before {
      content: "";
      position: absolute;
      width: 160px;
      height: 150px;
      top: 0;
      left: 0;
      translate: -50% -20px;
      background-image: url(../images/rocket.png);
    }
    .register {
      position: absolute;
      width: 480px;
      height: 100%;
      background-color: #fff;
      color: $textColor3;
      z-index: 1;
      opacity: 0;
      top: 0;
      right: 0;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      transition: 0.4s linear;

      h2 {
        font-size: 26px;
        margin: 60px 0 80px 0;
      }

      .register-wrapper {
        width: 355px;
        text-align: center;
        margin: 0 auto;

        p {
          font-size: 14px;
          font-weight: 500;

          a {
            text-decoration: none;

            color: $textColor2;
            font-weight: 700;
          }
        }
        .register-form {
          .email {
            width: 100%;
            position: relative;
            margin: 0 auto;
            margin-bottom: 30px;

            > input {
              @include inputSize;

              &:valid,
              &:focus {
                border: 1px solid $buttonColor1;
              }
              &:valid ~ label {
                translate: 0 -25px;
                font-size: 13px;
              }
              &:focus ~ label {
                translate: 0 -25px;
                font-size: 13px;
              }
            }
            label {
              position: absolute;
              left: 20px;
              top: 50%;
              transform: translateY(-50%);
              transition: 0.4s ease-in-out;
              background-color: #fff;
              color: $textColor;
              padding: 5px;
            }
          }
          .username {
            @extend .email;
          }
          .password {
            @extend .email;
          }
          .re-password {
            @extend .email;
          }
          .check-news {
            display: flex;
            align-items: center;
            position: relative;
            margin-bottom: 30px;

            input:checked ~ i {
              opacity: 1;
            }
            i {
              font-size: 23px;
              line-height: 19px;
              color: $textColor2;
              opacity: 0;
              transition: 0.2s linear;
            }
            label {
              margin-left: 10px;

              &::before {
                content: "";
                position: absolute;
                display: block;
                width: 20px;
                height: 20px;
                border-radius: 5px;
                border: 1px solid $textColor;
                left: 0;
                top: 50%;
                translate: 0 -50%;
              }
            }
          }
        }

        button {
          @include buttonSize;
          background: #34dceb;
          margin-bottom: 30px;
        }
        button:hover {
          background: $textColor2;
        }
      }
    }
  }
}
@media screen and (max-width: 1500px) {
  .landing {
    .decor-landing {
      display: none;
    }
    #register:checked ~ .wapper .register {
      right: 80px;
    }
    .container {
      .company-info {
        margin-left: 150px;
      }
    }
    .wapper {
      .login {
        right: 80px;
      }
    }
  }
}
@media screen and (max-width: 1365px) {
  .landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    .container {
      width: 100%;
      .company-info {
        margin: 0 auto;

        p {
          display: none;
        }
      }
    }
    .wapper {
      .login::before {
        display: none;
      }
      .login {
        top: 0;
        left: 50%;
        translate: -50% 0;
      }
      .register::before {
        display: none;
      }
      .register {
        top: 0;
        left: 50%;
        translate: -50% 0;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .landing {
    .container {
      .company-info {
        width: 100%;

        .switch {
          width: 90%;
        }
        h1 {
          font-size: 60px;
          line-height: 50px;
          margin-bottom: 40px;
        }
      }
    }
    .wapper {
      width: 100%;
      .login {
        width: 430px;
      }
      .register {
        width: 430px;
      }
    }
  }
}
