.footer {
  position: relative;
  padding-top: 50px;
  &-bg {
    position: absolute;
    width: 100vw;
    height: 100%;
    background: $green-100;
    z-index: -1;
    top: 0;
  }
  &-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // height: 290px;
    margin-bottom: 113px;

    .logo {
      width: 231px;
      height: 187px;
      margin-right: 107px;

      p {
        width: 90%;
        font-size: 1.33rem;

        span {
          font-size: 1.6rem;
        }
      }
    }

    .home {
      @include footer;
      margin-right: 89px;
    }
    .support {
      @include footer;
      margin-right: 69px;
      span {
        font-weight: 600;
      }
    }
    .contacts {
      width: 222px;
      @include footer;
    }
  }

  &-bottom {
    width: 65%;
    // height: 117px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid $grey-500;
    margin: 0 auto;
    padding: 24px 0 27px 0;

    > img {
      width: 174px;
      height: 66px;
    }

    .network-icon {
      display: flex;
      align-items: center;
      column-gap: 6px;

      > div {
        width: 40px;
        height: 40px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .circle {
          position: absolute;
          @include circle(40px);
          background: $green-200;
          inset: 0;
          z-index: -1;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .footer {
    display: flex;
    flex-direction: column;

    &-top {
      margin-left: 100px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
